@charset "utf-8";
.pickles2-theme-editor{
	// border: 1px solid #000;
	overflow: auto;
	position: relative;
}

.pickles2-theme-editor--toolbar{
	background-color: #eee;
	padding: 5px;
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	border-bottom: 1px solid #bbb;
	z-index: 10000;
	float: none;
	clear: both;

	&-btns{
		float:left;
	}

	&-finish{
		float:right;
	}

	&:after{
		content: " ";
		display: block;
		visibility: hidden;
		height: 0.1px;
		font-size: 0.1em;
		line-height: 0;
		clear: both;
	}
}

.pickles2-theme-editor--broccoli{
	&-canvas{
		overflow: auto;
	}
	&-palette{
		overflow: auto;
	}
	&-instance-tree-view{
		overflow: auto;
	}
	&-instance-path-view{
	}
}

.pickles2-theme-editor--notExists{
	border: 1px solid #eee;
	background-color: #fff;
	padding: 20px;
	margin-top: 3em;
}

.pickles2-theme-editor--default{
	&-canvas{
		iframe{
			width: 100%;
			height: 100%;
			border: none;
		}
	}
	&-editor-body{
		>div{
			width: 100%;
			height: 100%;
			border: none;
		}
		textarea{
			width: 100%;
			height: 100%;
			border: none;
		}
	}
}
